<table class="table table-active">
    <tr>
        <th>ClassRoomNo</th>
        <th>ClassName</th>
        <th>ClassRoomType</th>
        <th>NumOfStudent</th>
    </tr>
    <tr *ngFor="let room of classRooms">
        <td>{{room.ClassRoomNo}}</td>
        <td>{{room.ClassRoomName}}</td>
        <td>{{room.ClassRoomType}}</td>
        <td>{{room.ClassRoomCapacity}}</td>
        <td>
            <button class="btn btn-primary">
                Update
            </button>
            <button class="btn btn-danger">
                Delete
            </button>

        </td>
    </tr>
</table>